<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="left-side" fxLayout="row">
      <div class="header-button" [routerLink]="['/home']" (click)="onSetPath('home')">Home</div>
      <div class="header-button" [routerLink]="['/posts']" (click)="onSetPath('posts')">Posts</div>
  </div>

  <div *ngIf="currentPath !== 'home'"><img class="company-image" src="../assets/images/circlepix-full-logo.png" /></div>

  <div class="right-side" fxLayout="row">
    <div class="search-bar">
      <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
      <input type='text'name="searchTerm" placeholder="Search" class="search-bar-style" (keyup)="onSearch($event)" [(ngModel)]="searchTerm" />
      <button><mat-icon name="search"></mat-icon></button>
      </form>
    </div>
    <div class="header-button" [routerLink]="['/login']">Login</div>
  </div>
</div>