<div class="post-list-container">
  <div *ngFor="let post of posts; let i = index" class="post-item">
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="post-index">{{i+1}}</p>
        <div fxLlayout="column" class="post-body">
          <a href="{{post.url}}">{{post.title}}</a>
          <p class="post-details">from {{post.domain}} by {{post.author}} to reddit on {{post.created | date}}</p>
        </div>
      </div>

      <div fxLayout="row">
        <div fxLlayout="column" class="post-additional-details">
          <p>Comments</p>
          <p>{{post.num_comments}}</p>
        </div>
        <div fxLlayout="column" class="post-additional-details">
          <p>Score</p>
          <p>{{post.score}}</p>
        </div>
      </div>

    </div>
  </div>
</div>