<div class="post-list-container">
  <mat-spinner *ngIf="!loaded" class="loading-spinner"></mat-spinner>
  <div class="post-list-header">
    <div fxLayout="row" fxLayoutAlign="space-between center">
  
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="post-index pull-left">Sort:</p>
        <div fxLlayout="column" class="post-body">
          <button mat-button class="post-additional-details pull-left clickable" (click)="onSort('title')">Title</button>
        </div>
      </div>

      <div fxLayout="row">
        <div fxLlayout="column" (click)="onSort('num_comments')">
          <button mat-button>Comments</button>
        </div>
        <div fxLlayout="column" (click)="onSort('score')">
          <button  mat-button>Score</button>
        </div>
        <div class="spacer">.</div>
      </div>
  
    </div>
  </div>

  <div *ngFor="let post of posts; let i = index" class="post-item" (click)="onSelectPost(i)">
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="post-index">{{i+1}}</p>
        <div fxLlayout="column" class="post-body">
          <p>{{post.title}}</p>
        </div>
      </div>

      <div fxLayout="row">
        <div fxLlayout="column" class="post-additional-details">
          <p>{{post.num_comments}}</p>
        </div>
        <div fxLlayout="column" class="post-additional-details">
          <p>{{post.score}}</p>
        </div>
      </div>

    </div>
  </div>
</div>