<div class="login" fxLayout="column" fxLayoutAlign="center center">
  <h2 (click)="newUser = !newUser">Login / Signup</h2>
  <mat-progress-spinner mode="indeterminate" *ngIf="showSpinner" class="loading-spinner"></mat-progress-spinner>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <mat-checkbox [(ngModel)]="newUser">New User</mat-checkbox>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.hasError('password') && !loginForm.hasError('required')">
            Please enter a password between 6-12 charcters
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="button-spacer">
          <span *ngIf="newUser">Signup</span>
          <span *ngIf="!newUser">Login</span>
        </button>
      </div>
    </form>
  </div>
</div>