.login {

    .facebook-login-button {
        width: 75px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        background-color: blue;
        color: white;
        padding: 10px;
    }
    input {
        padding: 10px;
    }
}