<div class="login" fxLayout="column" fxLayoutAlign="center center">
  <h2 (click)="newUser = !newUser">Login or Signup</h2>
  <mat-progress-spinner mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>
  <div *ngIf="!newUser" fxLayout="column" fxLayoutAlign="center center">
    <h2>Log In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.hasError('password') && !loginForm.hasError('required')">
            Please enter a password between 6-12 charcters
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
  <div *ngIf="newUser" fxLayout="column" fxLayoutAlign="center center">
    <h2>Signup</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSignup(loginForm)">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.hasError('password') && !loginForm.hasError('required')">
            Please enter a password between 6-12 charcters
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>